* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  font-family: 'Poller One', cursive;
  display: grid;
  min-height: 100vh;
  grid-template: "main" 90vh "footer" 10vh;
  background: url("background.jpg") no-repeat;
  color: #dfdfdf;
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, 0px 1px 0 #000, 0px -1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

@media screen and (max-width: 690px) {
  .container {
    grid-template: "main" auto "footer" auto / 100%;
  }
}

@media screen and (max-width: 690px) {
  .container {
    background-position: center;
  }
}

.container .main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.container .main__title {
  text-transform: uppercase;
  text-align: center;
  padding: 1em 0;
}

.container .main .get__data {
  border-radius: 4px;
  background-color: #1b1b1b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 15px;
  min-width: 250px;
  width: 270px;
  transition: padding-right .4s;
  cursor: pointer;
}

.container .main .get__data span {
  position: relative;
  transition: .4s;
}

.container .main .get__data span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: .4s;
}

.container .main .get__data:hover span {
  padding-right: 25px;
}

.container .main .get__data:hover span::after {
  opacity: 1;
  right: 0;
}

.container .main .list {
  min-height: 320px;
  margin-top: 20px;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  list-style-position: inside;
  text-align: center;
}

.container .main .list * {
  text-align: left;
}

.container .main .list .page__number {
  margin-top: 20px;
  align-self: center;
}

.container .main .buttons {
  display: flex;
}

.container .main .buttons .prev__page, .container .main .buttons .next__page {
  border-radius: 4px;
  background-color: #1b1b1b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 15px;
  min-width: 170px;
  transition: padding-right .4s;
  cursor: pointer;
  margin: 20px 20px;
  outline: none;
}

.container .main .buttons .prev__page span, .container .main .buttons .next__page span {
  position: relative;
  transition: .4s;
}

.container .main .buttons .prev__page {
  display: none;
}

.container .main .buttons .prev__page span::after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: .4s;
}

.container .main .buttons .prev__page:hover span {
  padding-left: 25px;
}

.container .main .buttons .prev__page:hover span::after {
  opacity: 1;
  left: 0;
}

.container .main .buttons .next__page span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: .4s;
}

.container .main .buttons .next__page:hover span {
  padding-right: 25px;
}

.container .main .buttons .next__page:hover span::after {
  opacity: 1;
  right: 0;
}

.container .footer {
  background: #000;
  color: #bdbdbd;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

@media screen and (max-width: 690px) {
  .container .footer {
    flex-direction: column;
    font-size: 1.2em;
    padding: 1em;
  }
}

.container .footer span {
  text-align: center;
}

.container .footer__link {
  text-decoration: none;
  color: #bdbdbd;
  font-weight: bold;
}
